<h3 style="text-align: left">cars on sale!!!</h3>

<div class="grid grid-pad">
  <a *ngFor="let car of cars" class="col-1-8" routerLink="/detail/{{car.id}}">
    <div class="module car">
      <h4>{{car.brand}}</h4>
      <h5>{{car.name}}</h5>
      <h6>Only ${{car.discount}}</h6>
    </div>
  </a>
</div>
