<div>
  <ul *ngFor="let customer of customers">
    <a *ngIf="cId === customer.cId">
      <li>Name: {{customer.cName}}</li>
      <li>Gender: {{customer.cGender}}</li>
      <li>Phone: {{customer.cPhone}}</li>
      <li>Email: {{customer.cEmail}}</li>
    </a>
  </ul>
</div>
