<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h2>
    {{ title }}
  </h2>
  <img src="assets/img/car.png" alt="ADMS2.0 LOGO" width="250" height="200">
  <nav>
    <a routerLink="/cars">Car List</a>
    <a routerLink="/onsale">On Sale</a>
  </nav>
</div>
<router-outlet></router-outlet>
<app-customer-detail></app-customer-detail>
