<div *ngIf="car">
  <fieldset>
    <legend>{{car.name | uppercase}} Details</legend>
    Id: {{car.id}}<br>
    Brand: <input [(ngModel)]="car.brand" placeholder="brand"/><br>
    Name: <input [(ngModel)]="car.name" placeholder="name"><br>
    Year: <input [(ngModel)]="car.year" placeholder="year"><br>
    MSRP: <input [(ngModel)]="car.msrp" placeholder="msrp"><br>
    Discount: <input [(ngModel)]="car.discount" placeholder="discount"><br>
    Color: <input [(ngModel)]="car.color" placeholder="color"><br>
    Trim: <input [(ngModel)]="car.trim" placeholder="trim"><br>
    CheckIn: <input [(ngModel)]="car.timeIn" placeholder="timeIn"><br>
    Sold: <input type="checkbox" [(ngModel)]="car.ordered" placeholder="ordered">
    <div *ngIf="car.ordered">
      <app-customer-detail [cId]="car.cId"></app-customer-detail>
    </div>
  </fieldset>

  <div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
  </div>
</div>
