<h2>Our Cars</h2>
<ul class="cars">
  <li *ngFor="let car of cars">
      <!--[class.selected]="car === selectedCar"-->
      <!--(click)="onSelect(car)">-->
    <a routerLink="/detail/{{car.id}}">
      <span class="badge">{{car.id}}</span> {{car.brand}} {{car.name}}
    </a>
    <button class="delete" title="delete car" (click)="delete(car)">X</button>
  </li>
</ul>

<hr />
<h3>Add New Cars</h3>
<div>
  <div>
    <label>Brand:
      <input #carBrand type="text" placeholder="***required***"/>
    </label>
  </div>

  <div>
    <label>Name:
      <input #carName type="text" placeholder="***required***"/>
    </label>
  </div>
  <button (click)="add(carName.value, carBrand.value); carName.value=''; carBrand.value=''">
    Add
  </button>
</div>
<!--<app-car-detail></app-car-detail>-->

<!--<div *ngIf="selectedCar">-->
  <!--<fieldset>-->
    <!--<legend>{{selectedCar.name | uppercase}} Details</legend>-->
    <!--Id: {{selectedCar.id}}<br>-->
    <!--Brand: <input [(ngModel)]="selectedCar.brand" placeholder="brand"/><br>-->
    <!--Name: <input [(ngModel)]="selectedCar.name" placeholder="name"><br>-->
    <!--Year: <input [(ngModel)]="selectedCar.year" placeholder="year"><br>-->
    <!--MSRP: <input [(ngModel)]="selectedCar.msrp" placeholder="msrp"><br>-->
    <!--Discount: <input [(ngModel)]="selectedCar.discount" placeholder="discount"><br>-->
    <!--Color: <input [(ngModel)]="selectedCar.color" placeholder="color"><br>-->
    <!--Trim: <input [(ngModel)]="selectedCar.trim" placeholder="trim"><br>-->
    <!--CheckIn: <input [(ngModel)]="selectedCar.timeIn" placeholder="timeIn"><br>-->
    <!--Sold: <input type="checkbox" [(ngModel)]="selectedCar.ordered" placeholder="ordered">-->
      <!--<div *ngIf="selectedCar.ordered">-->
        <!--customer Info-->
      <!--</div>-->
  <!--</fieldset>-->
<!--</div>-->

